{% extends "voting/base.html" %}
{% block content %}

<div class="login-box">
    <div class="login-logo">
        <b>Voting System</b>
    </div>

    <div class="login-box-body">
        <p class="login-box-msg">Register to Vote</p>
        
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <form action="{% url 'account_register' %}" method="POST">
            {% csrf_token %}
            
            <h4>Account Information</h4>
            {% for field in form1 %}
            <div class="form-group has-feedback">
                <span class="text-danger">{{ field.errors }}</span>
                {{ field.label_tag }}
                {{ field }}
            </div>
            {% endfor %}

            <h4>Voter Information</h4>
            {% for field in form2 %}
            <div class="form-group has-feedback">
                <span class="text-danger">{{ field.errors }}</span>
                {{ field.label_tag }}
                {{ field }}
            </div>
            {% endfor %}

            <div class="row">
                <div class="col-xs-6">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">
                        <i class="fa fa-user-plus"></i> Register
                    </button>
                </div>
                <div class="col-xs-6">
                    <a href="{% url 'account_login' %}" class="btn btn-default btn-block btn-flat">
                        <i class="fa fa-sign-in"></i> Sign In
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock content %}
